<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blues</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <style>
            header img {
              display: block;
              width: 100%;
              max-height: 500px;
              object-fit: contain; /* ✅ 잘리지 않고 전체 표시 */
              object-position: 50% 60%; /* X축 중앙, Y축 80% 하단 기준 */
              margin-bottom: 40px; /* ✅ 여백 추가 */
            }
          </style>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <img src="https://resources.premierleague.com/premierleague/badges/t8.png" alt="첼시 로고" width="35" height="35" style="margin-right: 10px; vertical-align: middle;" />
                <a class="navbar-brand" href="/">The Blues</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <% if (isLogin) { %>
                            <li class="nav-item"><span class="nav-link active">👋 <%= user.email %>님</span></li>
                            <li class="nav-item"><a class="nav-link active" href="/logout">Logout</a></li>
                          <% } else { %>
                            <li class="nav-item"><a class="nav-link active" href="/login">Login</a></li>
                            <li class="nav-item"><a class="nav-link active" href="/signUp">signUp</a></li>
                          <% } %>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header>
            <a href="/board/post"></a><img src="/assets/chelsea.jpg" 
                 alt="첼시 헤더 이미지" 
                 style="width: 100%; max-height: 450px; object-fit: cover;"" />
        </header>
        
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="/board/post"><img src="/assets/logo.jpg" alt="Chelsea" width="854" height="350" /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2023</div>
                            <h2 class="card-title">Featured Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <!-- Blog post-->
                        <% posts.forEach(post => { %>
                            <div class="col-lg-6">
                                <div class="card mb-4">
                                    <a href="/board/post/<%= post.id %>""><img src="/assets/logo.jpg" alt="Chelsea" width="414" height="210" /></a>
                                    <div class="card-body">
                                        <div class="small text-muted"><%= post.created_at %></div>
                                        <h2 class="card-title h4"><%= post.title %></h2>
                                        <p class="card-text"><%= post.author %></p>
                                        <a class="btn btn-primary" href="#!">Read more →</a>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <!-- Pagination-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                            <li class="page-item"><a class="page-link" href="#!">2</a></li>
                            <li class="page-item"><a class="page-link" href="#!">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                            <li class="page-item"><a class="page-link" href="#!">15</a></li>
                            <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">검색</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="/schedule" style="text-decoration: none; color:black;">● 경기 일정</a></li>
                                        <li><a href="#!" style="text-decoration: none; color:black;">● 소식/뉴스</a></li>
                                        <li><a href="#!" style="text-decoration: none; color:black;">● 자유 게시판</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!" style="text-decoration: none; color:black;">● 현재 스쿼드</a></li>
                                        <li><a href="#!" style="text-decoration: none; color:black;">● 기록</a></li>
                                        <li><a href="/board/write" style="text-decoration: none; color:black;">● 글 작성</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- PL순위 위젯-->
                    <div class="card mb-4">
                        <div class="card-header">🏆 프리미어리그 순위</div>
                            <div class="card-body">
                                <ol class="list-unstyled mb-0">
                                    <% standings.forEach(team => { %>
                                      <li
                                        <% if (team.team.name.includes('Chelsea')) { %>
                                          style="background-color: #034694; color: white; font-weight: bold; padding: 5px; border-radius: 8px;"
                                        <% } %>
                                      >
                                        <strong>
                                          <%= team.position %>. <%= team.team.name %>
                                          <% if (team.team.name.includes('Chelsea')) { %>💙 <% } %>
                                        </strong>
                                        (<%= team.points %> pts)
                                      </li>
                                    <% }) %>
                                  </ol>
                                  
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
