<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blues</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <img src="https://resources.premierleague.com/premierleague/badges/t8.png" alt="첼시 로고" width="35" height="35" style="margin-right: 10px; vertical-align: middle;" />
                <a class="navbar-brand" href="/">The Blues</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <% if (isLogin) { %>
                            <li class="nav-item"><span class="nav-link active">👋 <%= user.email %>님</span></li>
                            <li class="nav-item"><a class="nav-link active" href="/logout">Logout</a></li>
                          <% } else { %>
                            <li class="nav-item"><a class="nav-link active" href="/login">Login</a></li>
                            <li class="nav-item"><a class="nav-link active" href="/signUp">signUp</a></li>
                          <% } %>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1"><%- post.title %></h1>
                            <!-- Post meta content-->
                             <div class="fw-bolder mb-1"><%- post.author %></div>
                            <div class="text-muted fst-italic mb-2"><%- post.created_at %></div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!"><%- post.category %></a>
                        </header>
                        <!-- Post content-->
                        <section class="mb-5">
                           <%- post.content %>
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                <form class="mb-4">
                                    <textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
                                    <button type="submit" class="btn btn-sm btn-primary mt-2">댓글 등록</button>
                                </form>
                                <!-- Comment with nested comments-->
                                <div class="d-flex mb-4">
                                    <!-- Parent comment-->
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                                        <!-- Child comment 1-->
                                        <div class="d-flex mt-4">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold">Commenter Name</div>
                                                And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                            </div>
                                        </div>
                                        <!-- Child comment 2-->
                                        <div class="d-flex mt-4">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold">Commenter Name</div>
                                                When you put money directly to a problem, it makes a good headline.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single comment-->
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">검색</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="/schedule" style="text-decoration: none; color:black;">● 경기 일정</a></li>
                                        <li><a href="#!" style="text-decoration: none; color:black;">● 소식/뉴스</a></li>
                                        <li><a href="#!" style="text-decoration: none; color:black;">● 자유 게시판</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!" style="text-decoration: none; color:black;">● 현재 스쿼드</a></li>
                                        <li><a href="#!" style="text-decoration: none; color:black;">● 기록</a></li>
                                        <li><a href="/board/write" style="text-decoration: none; color:black;">● 글 작성</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- PL순위 위젯-->
                    <div class="card mb-4">
                        <div class="card-header">🏆 프리미어리그 순위</div>
                            <div class="card-body">
                                <ol class="list-unstyled mb-0">
                                    <% standings.forEach(team => { %>
                                      <li
                                        <% if (team.team.name.includes('Chelsea')) { %>
                                          style="background-color: #034694; color: white; font-weight: bold; padding: 5px; border-radius: 8px;"
                                        <% } %>
                                      >
                                        <strong>
                                          <%= team.position %>. <%= team.team.name %>
                                          <% if (team.team.name.includes('Chelsea')) { %>💙 <% } %>
                                        </strong>
                                        (<%= team.points %> pts)
                                      </li>
                                    <% }) %>
                                  </ol>
                                  
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
